body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: whitesmoke;
  margin: 0px;
}

#menu-kategori ul li {
  margin-bottom: 5px;
}

#menu-kategori ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#kiri {
  width: 250px;
  height: auto;
  float: left;
}

p {
  color: black;
  font-size: 10px;
  text-align: right;
  font-style: italic;
  margin: 0px;
}

img {
  vertical-align: bottom;
}

a#button-keranjang {
  float: right;
  background: orange;
  padding: 2px 10px;
  border-radius: 3px;
}

.tombol-action {
  background: mediumblue;
  color: white;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px;
  margin-right: 3px;
}

.tombol-action:hover {
  background: orange;
}

#frame-tambah {
  margin-bottom: 10px;
  text-align: right;
}

.tengah {
  text-align: center;
}

.kiri {
  text-align: left;
}

.kanan {
  text-align: right;
}

.kolom-nomor {
  width: 20px;
  text-align: center;
}

.table-list tr th,
.table-list tr td {
  padding: 10px 7px;
}

.table-list tr.baris-title {
  background: lightgrey;
}

.table-list {
  width: 100%;
  border-collapse: collapse;
}

#profile-content {
  float: left;
  width: 79%;
  padding: 10px;
  background: white;
}

#menu-profile ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#menu-profile {
  float: left;
  width: 19%;
  background: yellow;
}

#bg-page-profile {
  overflow: hidden;
}

.notif {
  font-style: italic;
  color: red;
  padding: 10px;
}

.element-form span input[type="submit"] {
  background: mediumblue;
  border: none;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 11px;
  color: white;
  cursor: pointer;
}

.element-form span input[type="submit"]:hover {
  background: orange;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.element-form span {
  display: block;
}

.element-form label {
  display: block;
  font-weight: bold;
}

.element-form {
  margin-bottom: 15px;
}

#container-user-akses {
  width: 350px;
  height: auto;
  margin: 50px auto;
}

#content {
  padding: 10px 0px;
  overflow: hidden;
}

#container {
  width: 80%;
  height: auto;
  margin: 0px auto;
  padding: 10px;
}

#hearder {
  margin-top: 20px;
}

#menu {
  background: yellow;
  padding: 5px 10px;
  overflow: hidden;
}

#user {
  float: left;
}

a {
  color: black;
  padding-right: 5px;
  margin-top: 5px;
  display: inline-block;
  text-decoration: none;
}

#menu-kategori ul li a {
  display: block;
  padding: 10px;
  background: white;
  color: darkblue;
}

#menu-kategori ul li a:hover {
  background: lightgrey;
}

#menu-profile ul li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
  background: orange;
}

#footer {
  background: yellow;
  padding: 10px;
}
